.footer {
    padding: 62px 86px;
    background: #112D57;
    color: #fff;
    font-size: 15px;
    line-height: 27px;

    @media screen and (max-width: 1190px) {
        padding: 62px 30px;

    }

    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 87px;

        @media screen and (max-width: 1290px) {
            gap: 40px;
        }

        @media screen and (max-width: 1000px) {
            flex-wrap: wrap;
        }
    }

    &__left {

        &_subtitle {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.1px;
        }
    }

    &__left-top {
        display: flex;
        gap: 74px;
        margin-bottom: 66px;

        @media screen and (max-width: 1290px) {
            gap: 40px;
        }

        &_first {}

        &_second {}
    }

    &__first-list {

        &_item {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__second-list {

        &_item {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__center {
        & img {
            width: 100%;
        }
    }

    &__map {}

    &__right {}

    &__address {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 22px;
        margin-left: -8px;
    }

    &__address-text {}

    &__phone {
        display: flex;
        gap: 17px;
        align-items: center;
        margin-bottom: 42px;
    }

    &__phone-text {}

    &__social {
        display: flex;
        gap: 32px;
    }
}