.specific {
    padding: 111px 30px 138px;
    max-width: 1330px;
    margin: 0 auto;

    @media screen and (max-width: 1330px) {
        padding: 107px 30px 97px;
    }

    @media screen and (max-width: 600px) {
        padding: 67px 30px;
    }

    &__text {
        text-align: center;
    }

    &__title {
        font-weight: 500;
        font-size: 46px;
        line-height: 57px;
        color: #000;
        margin-bottom: 101px;

        @media screen and (max-width: 600px) {
            margin: 0 80px 45px;
        }

        @media screen and (max-width: 500px) {
            margin: 0 0 45px;
            font-size: 36px;
            line-height: 45px;
        }
    }

    &__cards {
        display: flex;
        gap: 31px;
        flex-wrap: wrap;
        justify-content: center;

        @media screen and (max-width: 600px) {
            gap: 64px;
            text-align: center;
        }

        @media screen and (max-width: 400px) {
            gap: 40px;
            text-align: center;
        }
    }

    &__card1 {
        max-width: 402px;
        display: flex;
        flex-direction: column;
        padding: 60px 60px 50px;
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
        border-radius: 10px;

        @media screen and (max-width: 600px) {
            padding: 42px 60px 50px;
        }

        @media screen and (max-width: 500px) {
            padding: 42px 30px 30px;
        }
    }

    &__card {

        &_image {
            margin-bottom: 30px;

            @media screen and (max-width: 600px) {
                margin-bottom: 20px;
            }
        }

        &_title {
            font-weight: 700;
            font-size: 29px;
            line-height: 33px;
            letter-spacing: 0.1px;
            margin-bottom: 30px;

            @media screen and (max-width: 500px) {
                font-size: 22px;
                line-height: 28px;
                letter-spacing: 0.1px;
                margin-bottom: 20px;
            }
        }

        &_text {
            flex: 1;
            font-size: 18px;
            line-height: 27px;
            color: #5C5C5C;
            margin-bottom: 30px;
        }

        &_link {
            font-size: 15px;
            line-height: 27px;
            color: #03D6F3;
        }
    }

    &__card2 {
        max-width: 402px;
        display: flex;
        flex-direction: column;
        padding: 60px 60px 50px;
        background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
        border: 1px solid #DEDEDE;
        box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        color: #fff;

        @media screen and (max-width: 600px) {
            padding: 42px 60px 50px;
        }

        @media screen and (max-width: 500px) {
            padding: 42px 30px 30px;
        }
    }

    &__card3 {
        max-width: 402px;
        display: flex;
        flex-direction: column;
        padding: 60px 60px 50px;
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
        border-radius: 10px;

        @media screen and (max-width: 600px) {
            padding: 42px 60px 50px;
        }

        @media screen and (max-width: 500px) {
            padding: 42px 30px 30px;
        }
    }
}

.white_text {
    color: #fff;
}